<div class="py-[10%] pl-[50%]">
    <h1 class="whitespace-nowrap" >create profile picture</h1>
    <canvas id="canvas" width="300" height="300"  class="border-solid content-center bg-slate-100"></canvas>

    <div class="flex space-x-[5%] justify-center ">
        <button (click)="clearCanvas()" id="clear" class="cursor-pointer bg-blue-400 rounded p-[1%] text-white hover:bg-blue-500"> clear </button>
        <button (click)="postDoodl()" id="post" class="cursor-pointer bg-blue-400 rounded p-[1%] text-white hover:bg-blue-500 " > post </button>
    </div>
</div>