<div class="py-[1%] border border-orange-700 text-center">
    <h1 class="text-3xl" >{{doodl?.title}}</h1>
    <div class=" justify-center flex flex-row space-x-[1%]">
        <a [routerLink]="['/profile', doodl?.doodlr]" > <h3>doodled by {{doodl?.doodlr_username}}</h3> </a>
        <h3>doodled {{doodl?.created_on}}</h3>
        <p class="text-3xl cursor-pointer" *ngIf="this.authService.canEditPost" (click)="edit()" > ⁝ </p>
    </div>

    <div class="m-auto border border-blue-600 object w-1/2 " >
        <img src="{{doodl?.image}}" >
        
        <div class="flex justify-center space-x-2 border-2 border-lime-500 cursor-pointer ">
            <img src="https://i.imgur.com/etvXnO0.png" alt="happy yeah" (mouseover)="Type='HPY'" (click)="this.postYeah(doodl?.url)" > <p>{{doodl?.yeahs.hap}}</p>
            <img src="https://i.imgur.com/GB5baRB.png" alt="monotone yeah" (mouseover)="Type='NRM'" (click)="this.postYeah(doodl?.url)"  > <p>{{doodl?.yeahs.nrm}}</p>
            <img src="https://i.imgur.com/YNjTenA.png" alt="sad yeah" (mouseover)="Type='SAD'" (click)="this.postYeah(doodl?.url)" > <p>{{doodl?.yeahs.sad}}</p>
            <img src="https://i.imgur.com/oIHbwwy.png" alt="confused yeah" (mouseover)="Type='CFD'" (click)="this.postYeah(doodl?.url)" > <p>{{doodl?.yeahs.cfd}}</p>
            <img src="https://i.imgur.com/c0SLkN8.png" > <p>{{doodl?.number_of_comments}}</p>
        </div>
    </div>
</div>

<div class="text-center py-[3%]" >
    <h1>Comments </h1>
    <form *ngIf="this.authService.isAuthenticated" [formGroup]="commentForm" (ngSubmit)="submitComment()">
        <input type="text" placeholder="enter Comment" formControlName="text">
        <input type="submit">
    </form>
    <h2 *ngIf="!this.authService.isAuthenticated" > Log In to make a comment </h2>
</div>
<div class="text-center">
    <div *ngFor="let comment of comments">
        <div class="">
            <p>{{comment.text}}</p>
            <div class="">
                <p>{{comment.author}}</p>
                <p>{{comment.created_on}}</p>
            </div>
        </div>
    </div>
</div>
