<div class="py-[1%] border border-orange-700 text-center">
    <h1 class="text-3xl" >{{doodl?.title}}</h1>
    <div class=" justify-center flex flex-row space-x-[1%]">
       <a [routerLink]="['/profile', doodl.doodlr]" > <h3>doodled by {{doodl?.doodlr_username}}</h3> </a>
        <h3>doodled {{doodl?.created_on}}</h3>
    </div>

    <div class="m-auto border border-blue-600 object w-1/2 " >
        <img src="{{doodl?.image}}" >
    </div>
</div>

<div class="text-center py-[3%]" >
    <h1>Comments </h1>
    <form *ngIf="auth()" [formGroup]="commentForm" (ngSubmit)="submitComment()">
        <input type="text" placeholder="enter Comment" formControlName="text">
        <input type="submit">
    </form>
    <h2 *ngIf="!auth()" > Log In to make a comment </h2>
</div>
<div class="text-center">
    <div *ngFor="let comment of comments">
        <div class="">
            <p>{{comment.text}}</p>
            <div class="">
                <p>{{comment.author}}</p>
                <p>{{comment.created_on}}</p>
            </div>
        </div>
    </div>
</div>
