.dropdown{
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: red;
}

.inner_content{
    display: flex;
    flex-direction: column;
}

.button{
    background-color: lightskyblue;
    color: white;
}