.drawing-container{
    display: flex;
    flex-direction: column;
}

.canvas{
    background-color: #dee0e3;
    margin: auto;
    aspect-ratio: 21/9;
}

.container-top{
    display: flex;
    margin: auto;
}

.palette{
    background-color: aqua;
    border: solid 2px aqua;
    border-radius: 5%;
    padding: 1%;  
}

.post-button{
    background-color: aqua;
    border: solid 2px aqua;
    border-radius: 10%;
    padding: 1%;
}

.tools{
    display: flex;
    margin: auto;;
}