<div class="drawing-container">

    <div class="container-top space-x-[50%]" >
        <div class="palette">
            <h2>palette placeholder</h2>
        </div>
        <div class="post-button">
            <button (click)="postDoodl()" id="post" > post </button>
        </div>
    </div>
    
    <div class="canvas-container">
        <canvas id="canvas" class="canvas">
            your browser does not support the canvas element
        </canvas>
    </div>

    <div class="tools">
        <div class="space-x-[50%] flex cursor-pointer">
            <h2 (click)="switchToPencil()" >pencil</h2>
            <h2 (click)="switchToEraser()" >eraser</h2>
            <h2 (click)="clearCanvas()" > nuke </h2>
        </div>
        
    </div>
</div>
