<div class="drawing-container" >

    <div class="container-top space-x-[50%]" >
        <img class="icons cursor-pointer" (click)="takeToForm()" src="assets/drawing-component/post_icon.png" alt="">
    </div>
    
    <div class="canvas-container">
        <canvas id="canvas" class="canvas">
            your browser does not support the canvas element
        </canvas>
    </div>

    <div class="tools">
        <div class="space-x-[50%] flex cursor-pointer">
            <img class="icons" src="assets/drawing-component/pencil-icon.png" alt="">
            <img class="icons" src="assets/drawing-component/undo_icon.png" alt="">
            <img class="icons" (click)="clearCanvas()" src="assets/drawing-component/clear_icon.png" alt="">
        </div>
        
    </div>
</div>
