.drawing-container{
    display: flex;
    flex-direction: column;
}

.canvas{
    background-color: #dee0e3;
    margin: auto;
    aspect-ratio: 21/9;
}

.container-top{
    display: flex;
    margin: auto;
}

.tools{
    display: flex;
    margin: auto;;
}

.icons {
    border-radius: 10px;
    object-fit: contain;
    width: 100px;
    height: auto;
}