    <div *ngFor="let doodle of doodles" class="space-y-4">
            <div class="doodle-container"  >
               <div class="doodle-post-info">
                    <a [routerLink]="['/profile', doodle!.doodlr_id]" > <p>{{doodle.doodlr_username}} </p></a>
                    <p>{{doodle.created_on}}</p>
               </div>
                    <h1 class="text-xl">{{doodle.title}}</h1>

                    <a [routerLink]="['/doodle', doodle!.id]"> <img  class="doodle-image" src="{{doodle.image}}"/> </a>
                <div class="doodle-engagement-container">
                    <div class="doodle-engagement-text">
                        <p>tags: {{doodle.tags}}</p>  
                        <img class="bookmark-svg"  src="assets/bookmark-svgrepo-com.svg" (click)="this.bookmarkDoodle(doodle.url)">
                    </div>
                    <div class="doodle-yeahs">
                        <img src="https://i.imgur.com/etvXnO0.png" alt="happy yeah" (mouseover)="Type='HPY'" (click)="this.postYeah(doodle.url)" > <p>{{doodle.yeahs.hap}}</p>
                        <img src="https://i.imgur.com/GB5baRB.png" alt="monotone yeah" (mouseover)="Type='NRM'" (click)="this.postYeah(doodle.url)"  > <p>{{doodle.yeahs.nrm}}</p>
                        <img src="https://i.imgur.com/YNjTenA.png" alt="sad yeah" (mouseover)="Type='SAD'" (click)="this.postYeah(doodle.url)" > <p>{{doodle.yeahs.sad}}</p>
                        <img src="https://i.imgur.com/oIHbwwy.png" alt="confused yeah" (mouseover)="Type='CFD'" (click)="this.postYeah(doodle.url)" > <p>{{doodle.yeahs.cfd}}</p>
                    </div>
                   <a [routerLink]="['/doodle', doodle!.id]"> <p class="doodle-comments">view all {{doodle.num_of_comments}} comments..</p></a>
                </div>
            </div>
    </div>

    <div *ngIf="doodlesLength == 0" class="no-doodles">
        <p>there are no doodles, get to drawing!!</p>
    </div>


