<div class="flex flex-col" >
    <div *ngFor="let doodle of doodles" class="p-2">
            <div class=" border-2 border-indigo-500"  >
                <p>{{doodle.doodlr}} &#9679; {{doodle.created_on}} </p>
                <p class="border-2 border-orange-500">{{doodle.title}}</p>
                <a [routerLink]="['/doodle', doodle!.id]"> <img src="{{doodle.image}}" class="border-2 border-rose-500" /> </a>
                <div class="flex flex-row justify-center space-x-2 border-2 border-lime-500 ">
                    <img src="https://i.imgur.com/etvXnO0.png" alt="happy yeah"> <p>{{doodle.yeahs.hap}}</p>
                    <img src="https://i.imgur.com/GB5baRB.png" alt="monotone yeah"> <p>{{doodle.yeahs.nrm}}</p>
                    <img src="https://i.imgur.com/YNjTenA.png" alt="sad yeah"> <p>{{doodle.yeahs.sad}}</p>
                    <img src="https://i.imgur.com/oIHbwwy.png" alt="confused yeah"> <p>{{doodle.yeahs.cfd}}</p>
                </div>
            </div>
    </div>
</div>

 

<div *ngIf="!doodles" class="m-auto">
        <p>there are no doodles, get to drawing!!</p>
</div>