<div class="flex flex-row" >
    <div class="py-[4%] px-[5%] w-[25%]">
        <div>
            <div class="">
                <div class="flex flex-col space-y-[25%] ">
                    <div class=" p-4 hover:bg-slate-500" routerLink="/profile" >
                        <div class="" >
                            <a> Profile image</a>
                        </div>                    
                    </div>
                    <div class=" p-4 hover:bg-slate-500"  routerLink="" >
                        <a>Home</a>
                    </div>
                    <div *ngIf="this.storageService.isLoggedIn()" class=" p-4 hover:bg-slate-500" (click)="storageService.clean()" >
                        <p>Log out</p>
                    </div>
                    <div *ngIf="!this.storageService.isLoggedIn()"  class=" p-4 hover:bg-slate-500" routerLink="/login">
                        <p>log in</p>
                    </div>
                    <div class=" p-4 hover:bg-slate-500" routerLink="/doodle" >
                        <a> Doodle </a>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <div class=" border-slate-500 border-l-4" >
        <router-outlet></router-outlet>
    </div>
</div>