            <div *ngIf="isAuthenticated()" class="nav-container">
               <div>
                <p>search</p>
               </div>
                <div routerLink="" >
                    <a>Home</a>
                </div>
                <div routerLink="/doodle" >
                    <a> Doodle </a>
                </div>
                <div routerLink="/profile" >
                    <p>profile</p>
                </div>
                <div (click)="authService.logout()" >
                    <p>Log out</p>
                </div>
            </div>

            <div *ngIf="!isAuthenticated()" class="nav-container">
                <div class=" p-4 hover:bg-slate-500"  routerLink="" >
                    <a>Home</a>
                </div>
                <div class=" p-4 hover:bg-slate-500" routerLink="/doodle" >
                    <a> Doodle </a>
                </div>
                <div class=" p-4 hover:bg-slate-500" routerLink="/login">
                    <p>log in</p>
                </div>
            </div>
