            <div class="flex flex-row">
                <div class=" p-4 hover:bg-slate-500" routerLink="/profile" >
                    <div class="border-solid " >
                        <p>profile</p>
                    </div>                    
                </div>
                <div class=" p-4 hover:bg-slate-500"  routerLink="" >
                    <a>Home</a>
                </div>
                <div class=" p-4 hover:bg-slate-500" routerLink="/doodle" >
                    <a> Doodle </a>
                </div>
                <div class=" p-4 hover:bg-slate-500" (click)=" logOut()" >
                    <p>Log out</p>
                </div>
                <div   class=" p-4 hover:bg-slate-500" routerLink="/login">
                    <p>log in</p>
                </div>
              
            </div>