<!-- this component is to be used as a profile viewer for other users, it should show the users doodles, and date joined the site as well -->

<div class="flex flex-col items-center">
  <h1 class="text-3xl"> {{user?.username}} </h1>
  <div class="flex-row text-2xl space-x-3">
    <label> {{user?.num_of_doodles}} doodles </label>
    <label for="modal-followers" > {{user?.num_of_followers}} followers  </label>
    <label for="modal-following" > {{user?.num_of_following}} following </label>
  </div>
</div>

<div class="flex justify-center py-[1%]">
 <button class="p-1 border-2 rounded border-green-400 bg-green-400 text-white hover:bg-slate-300 hover:border-slate-300 hover:text-black " (click)="followUser()"> follow </button>
</div>

<div class="flex flex-col justify-center items-center py-[2%]" *ngFor="let doodle of doodles" >
  <div class="border-2 border-indigo-500">
    <h1> {{doodle?.doodlr}}  &#9679; {{doodle?.created_on}}  </h1>
    <p> {{doodle?.title}} </p>
    <img src="{{doodle?.image}}" alt="broken image">
  <div class="flex justify-center space-x-2 border-2 border-lime-500 cursor-pointer ">
    <img src="https://i.imgur.com/etvXnO0.png" alt="happy yeah"> <p> {{doodle?.yeahs.hap}} </p>
    <img src="https://i.imgur.com/GB5baRB.png" alt="monotone yeah"> <p> {{doodle?.yeahs.nrm}} </p>
    <img src="https://i.imgur.com/YNjTenA.png" alt="sad yeah"> <p> {{doodle?.yeahs.sad}} </p>
    <img src="https://i.imgur.com/oIHbwwy.png" alt="confused yeah"> <p> {{doodle?.yeahs.cfd}} </p>
  </div>
  </div>
</div>

<input class="modal-state" id="modal-followers" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-followers"></label>
  <div class="modal__inner" >
    <label class="modal__close" for="modal-followers"></label>
    <h1> followers list goes here </h1>
  </div>
</div>

<input class="modal-state" id="modal-following" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-following"></label>
  <div class="modal__inner" >
    <label class="modal__close" for="modal-following"></label>
    <h1> following list goes here </h1>
  </div>
</div>


