<div class="flex justify-center py-[5%]">
    <div class="inputs" >
        <input class="otp_box" type="text" maxlength="1" id="OTP" >
    
        <input class="otp_box" type="text" maxlength="1" id="OTP" >

        <input class="otp_box" type="text" maxlength="1" id="OTP" >

        <input class="otp_box" type="text" maxlength="1" id="OTP" >

        <input class="otp_box" type="text" maxlength="1" id="OTP" >

        <input class="otp_box" type="text" maxlength="1" id="OTP" >
    </div>

</div>