<div class="m-auto text-center py-[2%] ">

    <input class="otp_box" type="text" maxlength="1" id="OTP" placeholder="enter code">
    
    <input class="otp_box" type="text" maxlength="1" id="OTP" placeholder="enter code">

    <input class="otp_box" type="text" maxlength="1" id="OTP" placeholder="enter code">

    <input class="otp_box" type="text" maxlength="1" id="OTP" placeholder="enter code">

    <input class="otp_box" type="text" maxlength="1" id="OTP" placeholder="enter code">

    <input class="otp_box" type="text" maxlength="1" id="OTP" placeholder="enter code">


</div>